*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_card{
    height: 500px;
    object-fit: cover;
}

.contenedor_contador{
    height: 200px;
    width: 100%;
    color: rgb(70, 70, 70);
    background-color: rgb(255, 255, 255);
}

.text_years{
    font-size: 80px;
    color:rgb(123, 165, 255); 
}

.contenedor_reproductor{
    background-color:rgb(123, 165, 255); 
}